<div class="row">
  <div class="col-lg-6">
    <% if @brands.any? %>
    <h3>Here are the brands in the C.R.U.D.L database</h3>
      <ul>
        <% @brands.each do |brand| %>
          <li><a href="/brand/<%= brand.id() %>"><%= brand.name() %></a></li>
        <% end %>
      </ul>
    <% else %>
      <h3>The C.R.U.D.L database doesn't have any brands</h3>
    <% end %>
  </div>
  <div class="col-lg-6">
    <div class="well bs-component">
      <form class="form-horizontal" action="/brands" method="post">
        <fieldset>
          <legend>Add a Brand Here</legend>
          <div class="form-group">
            <label for="brand_name" class="col-lg-3 control-label">Brand Name</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" name="brand_name" id="brand_name" placeholder="name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="submit" class="btn btn-primary">Add Brand</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
