<div class="row">
  <div class="col-lg-6">
    <h3> Here are all the breweries this brewery carrys <%= @brewery.name %></h3>
  </div>
  <div class="col-lg-6">
    <div class="well bs-component">

    </div>
  </div>
</div>
