<header>
  <h1>BEER <span>Savvy</span></h1>
</header>
<section id="beer-name-input">
  <form class="">
    <input type="text" name="beer" placeholder="Enter a beer name" required>
    <button type="submit" name="name" value=""><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
</section>
<section id="beer-cards">
  <article class="beer-card">
    <figure class="beer-pour">
      <img src="/img/beer_PNG2330.png" alt="placeholder beer image" />
    </figure>
    <table class="beer-stats">
      <tr>
        <td class="label">
          Name
        </td>
        <td class="value beer-name">
          Horrible Tasting Stout
        </td>
      </tr>
      <tr>
        <td class="label">
          Style
        </td>
        <td class="value beer-style">
          Stout, duh
        </td>
      </tr>
      <tr>
        <td class="label">
          IBU
        </td>
        <td class="value beer-ibu">
          99
        </td>
      </tr>
      <tr>
        <td class="label">
          ABV
        </td>
        <td class="value beer-abv">
          9.9%
        </td>
      </tr>
    </table>
    <p class="beer-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </article>
</section>
