<header>
  <h1>BEER<span>Savvy</span></h1>
</header>
<section id="beer-name-input">
  <form class="">
    <input type="text" class="form-control" name="beer_id"placeholder="beer_id">
    <button type="submit" name="name" value=""><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
</section>
