<div class="jumbotron home-portal">
  <h1>C.R.U.D.L.</h1>
  <h2>Shoe Distribution</h2>
  <hr>
  <h3>This is an admin portal used to manage shoe stores and the brands they sell </h3>
  <a href="/stores" class="btn btn-primary btn-lg btn-home">See the stores</a>
  <a href="/brands" class="btn btn-primary btn-lg btn-home">See the brands</a>
</div>
