<section id="beer-name-input">
  <form action="/beers" method="post">
    <input type="text" class="form-control" name="beer_id" placeholder="beer_id">
    <button type="submit" name="name" value=""><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
</section>
