<section id="beer-name-input">
  <form action="/beers" method="post">
    <input type="text" class="form-control" name="beer_name" placeholder="Beer Name" required>
    <button type="submit"  id="beer_search" value=""><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
</section>
