<section id="beer-name-input">
  <form action="/beers" method="post">
    <input type="text" class="form-control" name="beer_name" placeholder="Beer Name">
    <button type="submit"  id="beer_search.btn" value=""><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
</section>
