<header>
  <h1>BEER Savvy</h1>
</header>
<section id="beer-name-input">
  <form class="">
    <input type="text" name="beer" placeholder="Enter a beer name" required>
    <button type="submit" name="name" value=""></button>
  </form>
</section>
<section id="beer-cards">
  <article class="beer-card">
    <figure class="beer-pour">

    </figure>
    <table>
      <tr>
        <td class="label">
          Name
        </td>
        <td class="value beer-name">
          <!-- Beer Name Variable -->
        </td>
      </tr>
      <tr>
        <td class="label">
          Style
        </td>
        <td class="value beer-style">
          <!-- Beer Name Variable -->
        </td>
      </tr>
      <tr>
        <td class="label">
          IBU
        </td>
        <td class="value beer-ibu">
          <!-- Beer Name Variable -->
        </td>
      </tr>
      <tr>
        <td class="label">
          ABV
        </td>
        <td class="value beer-abv">
          <!-- Beer Name Variable -->
        </td>
      </tr>
    </table>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </article>
</section>
