<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/ddb715d33f.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito|Pattaya|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="utf-8">
    <title>BEERsavvy</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
