<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"   integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="   crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/ddb715d33f.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito|Pattaya|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="utf-8">
    <title>BEERsavvy</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>BEER<span>Savvy</span></h1>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
