<div class="row">
  <div class="col-lg-6">
    <h3>Current Store Name: <%= @store.name() %></h3>
  </div>
  <div class="col-lg-6">
    <div class="well bs-component">
      <form class="form-horizontal" action="/store/<%= @store.id() %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <fieldset>
          <legend>Update Name Here</legend>
          <div class="form-group">
            <label for="new_name" class="col-lg-3 control-label">Update Name</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" name="new_name" id="new_name" placeholder="name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="well bs-component">
      <form class="form-horizontal" action="/store/<%= @store.id() %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <fieldset>
          <legend>Delete this store</legend>
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="submit" class="btn btn-primary">Delete</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
