<div class="row">
  <div class="col-lg-6">
    <% if @stores.any? %>
    <h3>Here are the stores in the C.R.U.D.L database</h3>
      <ul>
        <% @stores.each do |store| %>
          <li><a href="/store/<%= store.id() %>"><%= store.name() %></a></li>
        <% end %>
      </ul>
    <% else %>
      <h3>The C.R.U.D.L database doesn't have any stores</h3>
    <% end %>
  </div>
  <div class="col-lg-6">
    <div class="well bs-component">
      <form class="form-horizontal" action="/stores" method="post">
        <fieldset>
          <legend>Add a Store Here</legend>
          <div class="form-group">
            <label for="store_name" class="col-lg-3 control-label">Store Name</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" name="store_name" id="store_name" placeholder="name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="submit" class="btn btn-primary">Add Store</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
