<h3>Oops there were some errors:</h3>
<ul>
  <% @store.errors().full_messages().each() do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<h5><a href="/stores" >Return to stores page to try again</a></h5>
