.srm-1 {
  background-color: #FFE699;
  border: 10px solid #FFE699; }

.srm-2 {
  background-color: #FFD878;
  border: 10px solid #FFD878; }

.srm-3 {
  background-color: #FFCA5A;
  border: 10px solid #FFCA5A; }

.srm-4 {
  background-color: #FFBF42;
  border: 10px solid #FFBF42; }

.srm-5 {
  background-color: #FBB123;
  border: 10px solid #FBB123; }

.srm-6 {
  background-color: #F8A600;
  border: 10px solid #F8A600; }

.srm-7 {
  background-color: #F39C00;
  border: 10px solid #F39C00; }

.srm-8 {
  background-color: #EA8F00;
  border: 10px solid #EA8F00; }

.srm-9 {
  background-color: #E58500;
  border: 10px solid #E58500; }

.srm-10 {
  background-color: #DE7C00;
  border: 10px solid #DE7C00; }

.srm-11 {
  background-color: #D77200;
  border: 10px solid #D77200; }

.srm-12 {
  background-color: #CF6900;
  border: 10px solid #CF6900; }

.srm-13 {
  background-color: #CB6200;
  border: 10px solid #CB6200; }

.srm-14 {
  background-color: #C35900;
  border: 10px solid #C35900; }

.srm-15 {
  background-color: #BB5100;
  border: 10px solid #BB5100; }

.srm-16 {
  background-color: #B54C00;
  border: 10px solid #B54C00; }

.srm-17 {
  background-color: #B04500;
  border: 10px solid #B04500; }

.srm-18 {
  background-color: #A63E00;
  border: 10px solid #A63E00; }

.srm-19 {
  background-color: #A13700;
  border: 10px solid #A13700; }

.srm-20 {
  background-color: #9B3200;
  border: 10px solid #9B3200; }

.srm-21 {
  background-color: #952D00;
  border: 10px solid #952D00; }

.srm-22 {
  background-color: #8E2900;
  border: 10px solid #8E2900; }

.srm-23 {
  background-color: #882300;
  border: 10px solid #882300; }

.srm-24 {
  background-color: #821E00;
  border: 10px solid #821E00; }

.srm-25 {
  background-color: #7B1A00;
  border: 10px solid #7B1A00; }

.srm-26 {
  background-color: #771900;
  border: 10px solid #771900; }

.srm-27 {
  background-color: #701400;
  border: 10px solid #701400; }

.srm-28 {
  background-color: #6A0E00;
  border: 10px solid #6A0E00; }

.srm-29 {
  background-color: #660D00;
  border: 10px solid #660D00; }

.srm-30 {
  background-color: #5E0B00;
  border: 10px solid #5E0B00; }

.srm-31 {
  background-color: #5A0A02;
  border: 10px solid #5A0A02; }

.srm-32 {
  background-color: #560A05;
  border: 10px solid #560A05; }

.srm-33 {
  background-color: #520907;
  border: 10px solid #520907; }

.srm-34 {
  background-color: #4C0505;
  border: 10px solid #4C0505; }

.srm-35 {
  background-color: #470606;
  border: 10px solid #470606; }

.srm-36 {
  background-color: #440607;
  border: 10px solid #440607; }

.srm-37 {
  background-color: #3F0708;
  border: 10px solid #3F0708; }

.srm-38 {
  background-color: #3B0607;
  border: 10px solid #3B0607; }

.srm-39 {
  background-color: #3A070B;
  border: 10px solid #3A070B; }

.srm-40 {
  background-color: #36080A;
  border: 10px solid #36080A; }

header, #beer-name-input, #beer-name-input form, .beer-card .inner-wrapper {
  width: 97.5%;
  margin: 0 auto; }

.beer-card .inner-wrapper .beer-stats td {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.beer-card:nth-of-type(n+2) .inner-wrapper .beer-stats tr td {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1; }

header h1 {
  font-family: "Nunito", sans-serif;
  font-size: 120px;
  letter-spacing: -12px;
  color: #332c23; }
  @media (max-width: 600px) {
    header h1 {
      font-size: 84px; } }
  header h1 span {
    font-family: "Pattaya", sans-serif;
    letter-spacing: -5px;
    font-style: italic;
    color: #6B2636; }

.tooltip--triangle {
  position: relative;
  border-bottom: 1px grey dashed; }
  .tooltip--triangle:after {
    flex-grow: 1;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    top: 1.4em;
    left: 50%;
    transform: translateX(-50%) translateY(-2px);
    background: grey;
    color: white;
    white-space: wrap;
    width: 700px;
    text-overflow: scroll;
    z-index: 3000;
    border-radius: 2px;
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    text-align: left; }
  .tooltip--triangle:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); }

.tooltip--triangle:before {
  content: '';
  width: 0;
  height: 0;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 5px grey;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translateX(-50%) translateY(-2px);
  top: 1.1em;
  left: 50%;
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  z-index: 3; }
.tooltip--triangle:hover:before {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0); }

header {
  display: flex;
  justify-content: center;
  flex: 1 1 100%; }
  header h1 {
    text-align: center; }

#beer-name-input {
  margin: 2em 0;
  max-width: 600px; }
  #beer-name-input form {
    display: flex;
    text-align: center;
    justify-content: center; }
  #beer-name-input input {
    flex: 1 1 90%;
    line-height: 3em;
    text-align: center; }
  #beer-name-input button {
    flex: 1 1 10%;
    max-width: 50px; }
    #beer-name-input button i {
      font-size: 21px;
      color: #332c23; }

.container {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5em;
  overflow: hidden; }

.container div {
  color: #6B2636; }

.pour {
  position: absolute;
  left: 45%;
  width: 20px;
  height: 0px;
  background-color: #edaf32;
  border-radius: 10px; }

.beaker {
  position: relative;
  height: 200px;
  width: 75%;
  border: 10px solid #6B2636;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  z-index: 2000; }

.beaker-handle {
  border: 18px solid #6B2636;
  border-left: 0;
  border-radius: 0 15px 15px 0;
  content: '';
  height: 140px;
  position: absolute;
  right: -45px;
  top: 30px;
  width: 60px;
  z-index: 2000; }
  .beaker-handle .rounded-inner-handle {
    position: absolute;
    z-index: 2001;
    width: 23px;
    height: 108px;
    background: #fef6e6;
    top: -3px;
    right: -6px;
    border-radius: 0 10px 10px 0; }

.liquid {
  position: absolute;
  border-radius: 0 0 10px 10px;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  width: 100%;
  transform-origin: bottom;
  animation: liquid 3s normal ease-out forwards;
  -webkit-animation-delay: 1000ms; }

.liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px; }

.liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  position: absolute; }

@-webkit-keyframes liquid {
  0% {
    height: 0px; }
  100% {
    height: 190px; } }
@-webkit-keyframes bubble {
  0% {
    bottom: 0; }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px; }
  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px; } }
.bubble1 {
  left: 10px;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms; }

.bubble2 {
  left: 50px;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms; }

.bubble3 {
  left: 100px;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms; }

.bubble4 {
  left: 130px;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms; }

.bubble5 {
  left: 170px;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms; }

/* Foam */
@-webkit-keyframes foam {
  0% {
    bottom: 10px; }
  100% {
    bottom: 180px; } }
.beer-foam {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  animation: liquid 3s normal ease-out forwards;
  -webkit-animation-delay: 1000ms; }

.foam-1, .foam-2, .foam-3, .foam-4,
.foam-5, .foam-6 {
  float: left;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe; }

.foam-1 {
  top: -20px;
  left: -1px; }

.foam-2 {
  top: -35px;
  left: 20px; }

.foam-3 {
  top: -25px;
  left: 50px; }

.foam-4 {
  top: -35px;
  left: 80px; }

.foam-5 {
  top: -30px;
  left: 110px; }

.foam-6 {
  top: -20px;
  left: 120px; }

body {
  background-color: #FCDFA6; }

.outer-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 590px;
  margin: auto; }

a.inner-wrapper {
  text-decoration: none;
  color: inherit; }

.beer-card .inner-wrapper {
  flex: 1 1 100%;
  margin-bottom: 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 591px;
  padding: 15px;
  background: #fef6e6;
  border-radius: 6px;
  box-shadow: 0px 0px 35px -6px #332c23; }
  .beer-card .inner-wrapper .beer-pour {
    position: relative;
    justify-content: center;
    display: flex;
    flex: 1 1 60%; }
    .beer-card .inner-wrapper .beer-pour img {
      width: 100%; }
  .beer-card .inner-wrapper .beer-stats {
    flex: 0 1 40%;
    display: flex;
    padding: 0 15px; }
    .beer-card .inner-wrapper .beer-stats tbody {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%; }
    .beer-card .inner-wrapper .beer-stats tr {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 2px solid #6B2636;
      padding-bottom: 5px;
      height: 45px; }
      .beer-card .inner-wrapper .beer-stats tr:first-child {
        margin-top: 75px; }
      .beer-card .inner-wrapper .beer-stats tr:last-child {
        margin-bottom: 75px; }
    .beer-card .inner-wrapper .beer-stats td {
      flex: 1 1 auto; }
      .beer-card .inner-wrapper .beer-stats td.beer-name {
        font-weight: bold; }
    .beer-card .inner-wrapper .beer-stats .label {
      font-weight: bold;
      text-transform: uppercase; }
    .beer-card .inner-wrapper .beer-stats .value {
      text-align: right;
      padding-left: 15px; }
  .beer-card .inner-wrapper .beer-description {
    padding: 40px 10px 20px 10px;
    font-family: sans-serif;
    flex: 1 1 100%; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.beer-card:nth-of-type(n+2) {
  width: 240px;
  height: 240px;
  margin: 1em;
  flex: 1 1 40%;
  padding: 0; }
  .beer-card:nth-of-type(n+2):nth-of-type(even) {
    margin-left: 0; }
  .beer-card:nth-of-type(n+2):nth-of-type(odd) {
    margin-right: 0; }
  .beer-card:nth-of-type(n+2) .inner-wrapper {
    max-width: 100%;
    display: flex; }
    .beer-card:nth-of-type(n+2) .inner-wrapper .beer-pour {
      display: none; }
    .beer-card:nth-of-type(n+2) .inner-wrapper .beer-stats {
      flex: 1 1 100%; }
      .beer-card:nth-of-type(n+2) .inner-wrapper .beer-stats tr:first-child {
        margin-top: 0; }
      .beer-card:nth-of-type(n+2) .inner-wrapper .beer-stats tr:last-child {
        margin-bottom: 15px; }
    .beer-card:nth-of-type(n+2) .inner-wrapper .beer-description {
      display: none; }

/*# sourceMappingURL=app.css.map */
