header, #beer-name-input, #beer-name-input form, .beer-card {
  width: 97.5%;
  margin: 0 auto; }

.beer-card .beer-stats td {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

header h1 {
  font-family: "Nunito", sans-serif;
  font-size: 120px;
  letter-spacing: -12px;
  color: #332c23; }
  @media (max-width: 600px) {
    header h1 {
      font-size: 84px; } }
  header h1 span {
    font-family: "Pattaya", sans-serif;
    letter-spacing: -5px;
    font-style: italic;
    color: #6B2636; }

header {
  display: flex;
  justify-content: center; }
  header h1 {
    text-align: center; }

#beer-name-input {
  margin: 2em 0;
  max-width: 600px; }
  #beer-name-input form {
    display: flex;
    text-align: center;
    justify-content: center; }
  #beer-name-input input {
    flex: 1 1 90%;
    line-height: 3em;
    text-align: center; }
  #beer-name-input button {
    flex: 1 1 10%;
    max-width: 50px; }
    #beer-name-input button i {
      font-size: 21px;
      color: #332c23; }

#container {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  overflow: hidden; }

#container div {
  color: #6B2636; }

.pour {
  position: absolute;
  left: 45%;
  width: 20px;
  height: 0px;
  background-color: #edaf32;
  border-radius: 10px; }

#beaker {
  border: 10px solid #6B2636;
  position: relative;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  height: 200px;
  width: 95%; }

#beaker:before,
#beaker:after {
  border: 10px solid #6B2636;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  content: '';
  height: 30px;
  position: absolute;
  top: -40px;
  width: 30px; }

#beaker:before {
  left: -30px;
  top: -30px; }

#beaker:after {
  right: -30px;
  top: -30px; }

#liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  width: 180px; }

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px; }

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px; }

@-webkit-keyframes bubble {
  0% {
    bottom: 0; }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px; }
  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px; } }
.bubble1 {
  left: 10px;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms; }

.bubble2 {
  left: 50px;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms; }

.bubble3 {
  left: 100px;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms; }

.bubble4 {
  left: 130px;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms; }

.bubble5 {
  left: 170px;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms; }

/* Foam */
.beer-foam {
  position: absolute;
  bottom: 10px; }

.foam-1, .foam-2, .foam-3, .foam-4,
.foam-5, .foam-6, .foam-7 {
  float: left;
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe; }

.foam-1 {
  top: -30px;
  left: -10px; }

.foam-2 {
  top: -35px;
  left: 20px; }

.foam-3 {
  top: -25px;
  left: 50px; }

.foam-4 {
  top: -35px;
  left: 80px; }

.foam-5 {
  top: -30px;
  left: 110px; }

.foam-6 {
  top: -20px;
  left: 140px; }

.foam-7 {
  top: -30px;
  left: 160px; }

body {
  background-color: #FCDFA6; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.beer-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 600px;
  padding: 15px;
  background: #fef6e6;
  border-radius: 6px;
  box-shadow: 0px 0px 35px -6px #332c23; }
  .beer-card .beer-pour {
    position: relative;
    justify-content: center;
    display: flex;
    flex: 1 1 50%; }
    .beer-card .beer-pour img {
      width: 100%; }
  .beer-card .beer-stats {
    flex: 0 1 50%;
    display: flex;
    padding: 0 15px; }
    .beer-card .beer-stats tbody {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%; }
    .beer-card .beer-stats tr {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 2px solid #6B2636;
      padding-bottom: 5px;
      height: 45px; }
      .beer-card .beer-stats tr:first-child {
        margin-top: 75px; }
      .beer-card .beer-stats tr:last-child {
        margin-bottom: 75px; }
    .beer-card .beer-stats td {
      flex: 1 1 auto; }
    .beer-card .beer-stats .label {
      font-weight: bold;
      text-transform: uppercase; }
    .beer-card .beer-stats .value {
      text-align: right;
      padding-left: 15px; }
  .beer-card .beer-description {
    padding: 40px 10px 20px 10px;
    font-family: sans-serif;
    flex: 1 1 100%; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*# sourceMappingURL=app.css.map */
