.beer-card {
  @extend %outer-container;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 600px;
  padding: $spacing;
  background: lighten($light-yellow, 13%);
  border-radius: 6px;
  box-shadow: 0px 0px 35px -6px rgba(51,44,35,1);

    .beer-pour {
      display: flex;
      flex: 1 1 50%;
    img {
      width: 100%;
    }
  }
  .beer-stats {
    flex: 0 1 50%;
    display: flex;
    padding: 0 $spacing;
    tbody {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%
    }
    tr {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 2px solid $red;
      padding-bottom: $spacing / 3;
      height: $spacing * 3;
      &:first-child {
        margin-top: $spacing * 5;
      }
      &:last-child {
        margin-bottom: $spacing * 5;
      }
    }
    td {
      flex: 1 1 auto;
      @extend %base-text;
    }
    .label {
      font-weight: bold;
      text-transform: uppercase;

    }
    .value {
      text-align: right;
      padding-left: $spacing;
    }
  }
  .beer-description {
    padding: 40px 10px 20px 10px;
    font-family: sans-serif;
    flex: 1 1 100%;
  }
};
