body{
  background-color: $light-yellow;
}
.outer-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 590px;
  margin: auto;
}

a.inner-wrapper {
  text-decoration: none;
  color: inherit;
}

@import "beer-card";
