.container {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5em;
    overflow: hidden;
}

.container div {
  color: $red;
}

.pour {
  position: absolute;
  left: 45%;
  width: 20px;
  height: 0px;
  background-color: #edaf32;
  border-radius: 10px
}

.beaker {
  position: relative;
  height: 200px;
  width: 75%;
  border: 10px solid $red;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  z-index: 2000;
}

.beaker-handle {
  border: 18px solid $red;
  border-left: 0;
  border-radius: 0 15px 15px 0;
  content: '';
  height: 140px;
  position: absolute;
  right: -45px;
  top: 30px;
  width: 60px;
  z-index: 2000;
  .rounded-inner-handle {
    position: absolute;
    z-index: 2001;
    width: 23px;
    height: 108px;
    background: lighten($light-yellow, 13%);
    top: -3px;
    right: -6px;
    border-radius: 0 10px 10px 0;
  }
}

.liquid {
  position: absolute;
  border-width: 0px;
  border-style: solid;
  border-radius: 0 0 10px 10px;
  bottom: 0px;
  height: 0px;
  overflow: hidden;
  width: 100%;
  transform-origin: bottom;
  animation: liquid 3s normal ease-out forwards;
  -webkit-animation-delay: 1000ms;
}

.liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

.liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  position: absolute;
}

@-webkit-keyframes liquid {
  0% { height: 0px; border-width: 0; }
  10% { border-width: 10px; }
  100% { height: 190px; border-width: 10px; }
}

@-webkit-keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

.bubble1 {
  left: 10px;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
}

.bubble2 {
  left: 50px;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
}

.bubble3 {
  left: 100px;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
}

.bubble4 {
  left: 130px;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
}

.bubble5 {
  left: 170px;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms;
}

/* Foam */

@-webkit-keyframes foam-1 {
  0% { left: -1px; top: -20px; }
  60% { left: -5px; top: -24px; }
  100% { left: -9px; top: -18px; }
}

@-webkit-keyframes foam-2 {
  0% { left: 20px; top: -35px; }
  40% { left: 19px; top: -31px; }
  100% { left: 17px; top: -36px; }
}

@-webkit-keyframes foam-3 {
  0% { left: 50px; top: -25px; }
  80% { left: 47px; top: -26px; }
  100% { left: 45px; top: -21px; }
}

@-webkit-keyframes foam-4 {
  0% { left: 80px; top: -35px; }
  20% { left: 82px; top: -30px; }
  50% { left: 84px; top: -35px; }
  100% { left: 86px; top: -32px; }
}

@-webkit-keyframes foam-5 {
  0% { left: 110px; top: -30px; }
  30% { left: 112px; top: -24px; }
  70% { left: 113px; top: -28px; }
  100% { left: 116px; top: -32px; }
}

@-webkit-keyframes foam-6 {
  0% { left: 120px; top: -20px; }
  50% { left: 123px; top: -21px; }
  100% { left: 127px; top: -25px; }
}

@-webkit-keyframes foam {
  0% { opacity: 0; height: 0px; }
  30% { opacity: .7; }
  100% { opacity: 1; height: 190px; }
}

.beer-foam {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  animation: foam 3.25s normal ease-out forwards;
  -webkit-animation-delay: 750ms;
  opacity: 0;
}

.foam-1, .foam-2, .foam-3, .foam-4,
.foam-5, .foam-6 {
  float: left;
  position: absolute;

  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe;
}
.foam-1 {
  top: -20px;
  left: -1px;
  animation: foam-1 3s normal ease-out forwards;
  -webkit-animation-delay: 1000ms;
}
.foam-2 {
  top: -35px;
  left: 20px;
  animation: foam-2 3s normal ease-out forwards;
  -webkit-animation-delay: 1000ms;
}
.foam-3 {
  top: -25px;
  left: 50px;
  animation: foam-3 3s normal ease-out forwards;
  -webkit-animation-delay: 1000ms;
}
.foam-4 {
  top: -35px;
  left: 80px;
  animation: foam-4 3s normal ease-out forwards;
  -webkit-animation-delay: 1000ms;
}
.foam-5 {
  top: -30px;
  left: 110px;
  animation: foam-5 3s normal ease-out forwards;
  -webkit-animation-delay: 1000ms;
}
.foam-6 {
  top: -20px;
  left: 120px;
  animation: foam-6 3s normal ease-out forwards;
  -webkit-animation-delay: 1000ms;
}
