.srm-1 {
  background-color: #FFE699;
  border: 10px solid #FFE699;
}
.srm-2 {
  background-color: #FFD878;
  border: 10px solid #FFD878;
}
.srm-3 {
  background-color: #FFCA5A;
  border: 10px solid #FFCA5A;
}
.srm-4 {
  background-color: #FFBF42;
  border: 10px solid #FFBF42;
}
.srm-5 {
  background-color: #FBB123;
  border: 10px solid #FBB123;
}
.srm-6 {
  background-color: #F8A600;
  border: 10px solid #F8A600;
}
.srm-7 {
  background-color: #F39C00;
  border: 10px solid #F39C00;
}
.srm-8 {
  background-color: #EA8F00;
  border: 10px solid #EA8F00;
}
.srm-9 {
  background-color: #E58500;
  border: 10px solid #E58500;
}
.srm-10 {
  background-color: #DE7C00;
  border: 10px solid #DE7C00;
}
.srm-11 {
  background-color: #D77200;
  border: 10px solid #D77200;
}
.srm-12 {
  background-color: #CF6900;
  border: 10px solid #CF6900;
}
.srm-13 {
  background-color: #CB6200;
  border: 10px solid #CB6200;
}
.srm-14 {
  background-color: #C35900;
  border: 10px solid #C35900;
}
.srm-15 {
  background-color: #BB5100;
  border: 10px solid #BB5100;
}
.srm-16 {
  background-color: #B54C00;
  border: 10px solid #B54C00;
}
.srm-17 {
  background-color: #B04500;
  border: 10px solid #B04500;
}
.srm-18 {
  background-color: #A63E00;
  border: 10px solid #A63E00;
}
.srm-19 {
  background-color: #A13700;
  border: 10px solid #A13700;
}
.srm-20 {
  background-color: #9B3200;
  border: 10px solid #9B3200;
}
.srm-21 {
  background-color: #952D00;
  border: 10px solid #952D00;
}
.srm-22 {
  background-color: #8E2900;
  border: 10px solid #8E2900;
}
.srm-23 {
  background-color: #882300;
  border: 10px solid #882300;
}
.srm-24 {
  background-color: #821E00;
  border: 10px solid #821E00;
}
.srm-25 {
  background-color: #7B1A00;
  border: 10px solid #7B1A00;
}
.srm-26 {
  background-color: #771900;
  border: 10px solid #771900;
}
.srm-27 {
  background-color: #701400;
  border: 10px solid #701400;
}
.srm-28 {
  background-color: #6A0E00;
  border: 10px solid #6A0E00;
}
.srm-29 {
  background-color: #660D00;
  border: 10px solid #660D00;
}
.srm-30 {
  background-color: #5E0B00;
  border: 10px solid #5E0B00;
}
.srm-31 {
  background-color: #5A0A02;
  border: 10px solid #5A0A02;
}
.srm-32 {
  background-color: #560A05;
  border: 10px solid #560A05;
}
.srm-33 {
  background-color: #520907;
  border: 10px solid #520907;
}
.srm-34 {
  background-color: #4C0505;
  border: 10px solid #4C0505;
}
.srm-35 {
  background-color: #470606;
  border: 10px solid #470606;
}
.srm-36 {
  background-color: #440607;
  border: 10px solid #440607;
}
.srm-37 {
  background-color: #3F0708;
  border: 10px solid #3F0708;
}
.srm-38 {
  background-color: #3B0607;
  border: 10px solid #3B0607;
}
.srm-39 {
  background-color: #3A070B;
  border: 10px solid #3A070B;
}
.srm-40 {
  background-color: #36080A;
  border: 10px solid #36080A;
}
