.srm-1 {
  background-color: #FFE699;
  border-color: #FFE699;
}
.srm-2 {
  background-color: #FFD878;
  border-color: #FFD878;
}
.srm-3 {
  background-color: #FFCA5A;
  border-color: #FFCA5A;
}
.srm-4 {
  background-color: #FFBF42;
  border-color: #FFBF42;
}
.srm-5 {
  background-color: #FBB123;
  border-color: #FBB123;
}
.srm-6 {
  background-color: #F8A600;
  border-color: #F8A600;
}
.srm-7 {
  background-color: #F39C00;
  border-color: #F39C00;
}
.srm-8 {
  background-color: #EA8F00;
  border-color: #EA8F00;
}
.srm-9 {
  background-color: #E58500;
  border-color: #E58500;
}
.srm-10 {
  background-color: #DE7C00;
  border-color: #DE7C00;
}
.srm-11 {
  background-color: #D77200;
  border-color: #D77200;
}
.srm-12 {
  background-color: #CF6900;
  border-color: #CF6900;
}
.srm-13 {
  background-color: #CB6200;
  border-color: #CB6200;
}
.srm-14 {
  background-color: #C35900;
  border-color: #C35900;
}
.srm-15 {
  background-color: #BB5100;
  border-color: #BB5100;
}
.srm-16 {
  background-color: #B54C00;
  border-color: #B54C00;
}
.srm-17 {
  background-color: #B04500;
  border-color: #B04500;
}
.srm-18 {
  background-color: #A63E00;
  border-color: #A63E00;
}
.srm-19 {
  background-color: #A13700;
  border-color: #A13700;
}
.srm-20 {
  background-color: #9B3200;
  border-color: #9B3200;
}
.srm-21 {
  background-color: #952D00;
  border-color: #952D00;
}
.srm-22 {
  background-color: #8E2900;
  border-color: #8E2900;
}
.srm-23 {
  background-color: #882300;
  border-color: #882300;
}
.srm-24 {
  background-color: #821E00;
  border-color: #821E00;
}
.srm-25 {
  background-color: #7B1A00;
  border-color: #7B1A00;
}
.srm-26 {
  background-color: #771900;
  border-color: #771900;
}
.srm-27 {
  background-color: #701400;
  border-color: #701400;
}
.srm-28 {
  background-color: #6A0E00;
  border-color: #6A0E00;
}
.srm-29 {
  background-color: #660D00;
  border-color: #660D00;
}
.srm-30 {
  background-color: #5E0B00;
  border-color: #5E0B00;
}

.srm-31 {
  background-color: #5A0A02;
  border-color: #5A0A02;
}
.srm-32 {
  background-color: #560A05;
  border-color: #560A05;
}
.srm-33 {
  background-color: #520907;
  border-color: #520907;
}
.srm-34 {
  background-color: #4C0505;
  border-color: #4C0505;
}
.srm-35 {
  background-color: #470606;
  border-color: #470606;
}
.srm-36 {
  background-color: #440607;
  border-color: #440607;
}
.srm-37 {
  background-color: #3F0708;
  border-color: #3F0708;
}
.srm-38 {
  background-color: #3B0607;
  border-color: #3B0607;
}
.srm-39 {
  background-color: #3A070B;
  border-color: #3A070B;
}
.srm-40 {
  background-color: #36080A;
  border-color: #36080A;
}
