$srm-1: #FFE699
$srm-2: #FFD878
$srm-3: #FFCA5A
$srm-4: #FFBF42
$srm-5: #FBB123
$srm-6: #F8A600
$srm-7: #F39C00
$srm-8: #EA8F00
$srm-9: #E58500
$srm-10: #DE7C00
$srm-11: #D77200
$srm-12: #CF6900
$srm-13: #CB6200
$srm-14: #C35900
$srm-15: #BB5100
$srm-16: #B54C00
$srm-17: #B04500
$srm-18: #A63E00
$srm-19: #A13700
$srm-20: #9B3200
$srm-21: #952D00
$srm-22: #8E2900
$srm-23: #882300
$srm-24: #821E00
$srm-25: #7B1A00
$srm-26: #771900
$srm-27: #701400
$srm-28: #6A0E00
$srm-29: #660D00
$srm-30: #5E0B00
$srm-31: #5A0A02
$srm-32: #560A05
$srm-33: #520907
$srm-34: #4C0505
$srm-35: #470606
$srm-36: #440607
$srm-37: #3F0708
$srm-38: #3B0607
$srm-39: #3A070B
$srm-40: #36080A
